# Exclude Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# Git
.git
.gitignore

# IDEs
.idea/
.vscode/

# Other caches
.mypy_cache/
.pytest_cache/


/migrations/

.env
